{% extends 'base.html' %}

{% block title %}

Semos Final Project

{% endblock %}

{% block content %}
        <table id="dataCompanies" class="table table-striped dataTable">
              <thead>
                <tr>
                    <th>#</th>
                    <th>Name</th>
                    <th>Country</th>
                     <th>City</th>
                    <th>Nace</th>
                    <th>Website</th>
                    <th></th>
                </tr>
              </thead>
            <tbody>
              {% for c in cmps %}
              <tr>
                  <td>{{c["Id"]}}</td>
                  <td>{{c["Name"]}}</td>
                  <td>{{c["Country"]}}</td>
                  <td>{{c["City"]}}</td>
                  <td>{{c["Nace"]}}</td>
                  <td><a href='{{c["Website"]}}' target="_blank">{{c["Website"]}}</a></td>
                  <td><button type="button" class="btn btn-secondary" type="submit" onclick="window.location.href='{{ url_for( 'clean_company' , name=c['Name']) }}';">Clean Company</button></td>
                </tr>
             {% endfor %}
              </tbody>
            </table>
        {% endblock %}

{% block scripts %}
  <script>
    $(document).ready(function () {
  $('#dataCompanies').DataTable();
  $('.dataTables_length').addClass('bs-select');
});
  </script>
{% endblock %}
