{% extends 'base.html' %}

{% block content %}
    <h1>{% block title %} Companies {% endblock %}</h1>
       <table>
        <tr>
        <td>ID</td>
        <td>Name </td>
        <td>Country</td>
        <td>City</td>
        <td>Nace</td>
        <td>Website</td>
        </tr>
    {% for c in companies %}
        <div class='companies'>
            <td>{{ c[0] }}</td>
            <td>{{ c[1] }}</td>
            <td>{{c[2] }} </td>
            <td> {{ c[3] }} </td>
            <td>{{ c[4] }} </td>
            <td> {{ c[5] }} </td>

        </div>
        <br>
    {% endfor %}
</table>



{% endblock %}